<cc-layout>
    <cc-sidenav [opened]="showSidenav | async">
        <cc-nav-item [routerLink]="['/login']"
                     icon="mood"
                     (navigate)="closeSidenav()">Login
        </cc-nav-item>
        <cc-nav-item [routerLink]="['/history']"
                     icon="history"
                     (navigate)="closeSidenav()">History
        </cc-nav-item>
    </cc-sidenav>
    <cc-toolbar (openSidenav)="openSidenav()">
        {{ toolbarTitle | async }}
    </cc-toolbar>
    <div class="page-content" fxFlex="1" fxLayout="row" fxLayoutAlign="center">
        <router-outlet></router-outlet>
    </div>
</cc-layout>